@charset 'UTF-8';
//////////////// VARIABLES ////////////////
//Typography
$basefont: 'Roboto', sans-serif;
$basefont-condensed: 'Roboto Condensed', $basefont;

$font-size:        14px;
$font-size-medium: 16px;
$font-size-large:  18px;
$font-title: 40px;
$font-title-desktop: 60px;

$line-height:      1.5em;
$font-weight:      400;

//Media query
$mobile-break-width: 900px;
$mobile-break-height: 500px;

//Colors
$primary:         #fbb571;
$secondary:       #ffd188;

$primary-dark:            darken($primary, 15%);
$primary-light:           lighten($primary, 15%);
$secondary-dark:           darken($secondary, 15%);
$secondary-light:           lighten($secondary, 15%);

$body-bg:               #0d0d0d;

//////////////// LIBRARY ////////////////
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10%;
    // margin-top: 20%;
    color: $primary;
    @media screen and (min-width: 500px) {
      padding: 5% 10%;
    }
  }
  .title {
    text-transform: uppercase;
    font-size: $font-title;
    @media screen and (min-width: 500px) {
      font-size: $font-title-desktop;
    }
    &__description {
      color: $primary-light;
      font-family: $basefont-condensed;
      @media screen and (min-width: 500px) {
        font-size: $font-size-large;
      }
    }
  }
  .button {
    border: 2px solid $primary;
    background-color: transparent;
    border-radius: 15px;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 100%;
    font-family: $basefont-condensed;
    font-size: 18px;
    font-weight: $font-weight;
    line-height: $line-height;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .2s ease-in-out;
    &:hover {
      // background: $primary-light;
      cursor: pointer;
      border-color: $primary-dark;
      color: $primary-dark;
    }
    &__input {
      text-transform: none;
      text-align: left;
      padding: 0 10px;
      &:hover,
      &:focus {
        background-color: transparent;
      }
      &:hover::placeholder {
        color: $primary-dark;
      }
      &:focus::placeholder {
        color: transparent;
      }
      &::placeholder {
        color: $primary;
        font-size: $font-size-medium;
      }
    }
  }
  main.container {
    margin-top: 5%;
    height: auto;
  }
  footer {
    margin-top: 5px;
    font-size: 12px;
  }
  header {
    @media screen and (min-width: 500px) {
      width: 50%;
    }
  }